a {
    text-decoration: none;
    color: salmon;
}

h1 {    
    font-size: 31px;
    font-weight: 400;
}

h2 {    
    font-size: 18px;
    font-weight: 300;        
    line-height: 22px;
    margin-bottom: 6px;    
}

.header {
    max-height: 64px; background: linear-gradient(0, #666, #777); color: white; padding: 20px;
}

.main2 {   
    padding:20px;
    color: #777;
    font-weight: 300;
    font-size:10.5pt; 
    line-height:16pt; 
    width: 1000px;    
}