<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
</head>

<body style="font-family: Roboto; font-size:10.5pt; line-height:16pt; width: 1000px; margin-left: auto; margin-right: auto;"> 
  <div>
    {{{body}}}
  </div>
</body>

</html>