<html>

<head>
  <link rel="stylesheet" type="text/css" href="http://localhost:3000/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
</head>

<body style="margin:0; font-family: Roboto; font-weight: 300;">
  <div class="header">
    <div class="header-inner">
      {{#unless user}}
      
      <b>Log on</b>       
      
      {{/unless}} 
      
      {{#if user}} welcome

      <b>{{user}}</b> >
      <a href="http://localhost:3000/new">new</a> |
      <a href="http://localhost:3000/posts/{{user}}">my stuff</a> |
      <a href="http://localhost:3000/users">others</a> |
      <a href="http://localhost:3000/logoff">log off</a> 

      {{/if}}
    </div>
  </div>
  <div style="height: 4px; background: linear-gradient(0, #FFF, #BBB);"></div>  
  <div class="main">
    {{{body}}}
  </div>
</body>

</html>