<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
</head>

<body style="margin:0; font-family: Roboto;">
  <div class="header">
    <b>    
      kuiper      
    </b>
  </div>
  <div style="height: 4px; background: linear-gradient(0, #FFF, #BBB);"></div>
  <div class="main2">
    {{{body}}}
  </div>
</body>

</html>