<form action="" method="post">
  <p>
    <p><b>Title</b <br/></p>    
    <input name="title" type="text" style="width:100%;" autocomplete="off"/>
  </p>

  <p><b>Content</b <br/></p>
  
  <textarea name="content" style="width:100%; height:300px;" autocomplete="off"></textarea>
  <p>
    <input type="submit" value="Send" />
  </p>
</form>