<p>
  <a href="/new">Add post</a>
</p>

{{#each posts}}

<h2>{{title}}</h2>
<div>{{content}}</div>

{{#if ownProfile}}
<a href="/{{id}}">Show</a> |
<a href="/delete/{{id}}">Delete</a> 
{{/if}} 

{{/each}}